.cart {
    width: 30px;
    position: relative;
}

.cart::before {
    content: attr(data-before);
    position: absolute;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    right: -8px;
    top: -3px;
    font-size: 13px;
    font-weight: 600;
}