.cart {
    display: flex;
    background-color: rgb(48, 48, 48);
    border: 2px solid gray;
    transition: background-color 200ms ease;

}

.cart:hover {
    background-color: gray;
}

.cart img {
    width: 20px;
    margin: 2px 4px 3px; 
}

.cartItemCount {
    background-color: gray;
    color: rgb(48, 48, 48);
    padding: 2px 7px 3px; 
    min-width: 25px;
    text-align: center;
    transition: background-color 200ms ease;
    transition: color 200ms ease;
}

.cart:hover .cartItemCount {
    background-color: rgb(48, 48, 48);
    color: white;
}