.NavBar {
    background-color: rgb(48, 48, 48);
    width: 100%;
    position: relative;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}

.NavBarContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.NavBarButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.logo {

    width: 150px;
    height: 43px;
    object-fit: cover;
}

.activeNavButton {
    color: gray;
    text-decoration: line-through 1px;
}

.activeNavButton:hover {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .NavBar{
        padding: 10px 30px;
    }
    
    .NavBarButtons {
        flex-direction: row;
    }
}