.nFContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 10px;
}

.nFMainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}